{% from 'alllink.html' import alllinks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management System Add Employee</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dashboard.css')}}">
    <link rel="icon" href="{{url_for('static',filename='date.png')}}">
</head>

<body>
    <div class="background-1">
        <div class="logo">

            <div class="links">
                {{ alllinks() }}
            </div>
        </div>



        <div class="page">
            <div>
                <div class='page2'>
                    <h2 style="margin-left:20px ;">Add New Employee Page</h2>
                </div>
                <div class='page2'>
                    {% if user %}
                    <h3>User : {{user['name']}}</h3>
                    <h4><a href="{{url_for('logout')}}">Logout</a></h4>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="box-main">
            <div class="page1">
                <h4><a href="{{url_for('dashboard')}}">View All Employee</a></h4>
                <h4><a href="{{url_for('addnewemployee')}}">Add New Employee</a></h4>
            </div>
            <div class="box-m">
                <div class='login-1'>
                    <h3 class="letter">Add New Employee Form {% if error %} {{ error }} {% endif %}</h3>
                    <form action="/addnewemployee" method="POST">
                        <hr style="margin-bottom: 20px;">
                        <div class="form-add">
                            <label for="name" class="letter">Name</label><br>
                            <input  type="text" class="emailbar-1 " id="name" name="name">
                        </div>
                        <div class="form-add">
                            <label for="phone" class="letter">Phone</label><br>
                            <input type="text" class="emailbar-1 " id='phone' name="phone">
                        </div>
                        <div class="form-add">
                            <label   for="email" class="letter">Email Id</label><br>
                            <input type="email" class="emailbar-1 " id="email" name="email">
                        </div>
                        <div class="form-add">
                            <label for=" address" class="letter">Address</label><br>
                            <input type="text" class="emailbar-1 " id="address" name="address">
                        </div>

                        <div>
                            <button style="margin-top: 20px;padding: 10px;
                padding-left: 15px;
                padding-right: 15px;" type="submit" href="#">Add Employee</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div class="bottom">
        <p>copyright © Desiged and Deployed by Manoj Nagarajan Email: manojnagarajan355.gmail.com </p>
    </div>

</body>

</html>