{% from 'alllink.html' import alllinks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management Login</title>
    <link rel="stylesheet" href="{{url_for('static',filename='home1.css')}}">
    <link rel="icon" href="{{url_for('static',filename='date.png')}}">
</head>

<body >
    <div class="background">

        <div class="logo">

            <div class="links">
                {{ alllinks() }}

            </div>
        </div>

        
        <div class="home">
            <h4><a href="{{url_for('home')}}">Home</a></h4>
        </div>
        <div class="login-1">
            <h4><a href="{{url_for('login')}}">Login</a></h4>
        </div>
        <div class="register">
            <h4 ><a href="{{url_for('register')}}">Register</a></h4>
        </div>



        <div class="page">

            <div>
           
                <div class='page1'>
                    {% if user %}
                    <h3>User : {{user['name']}}</h3>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class='login'>

            <h3 class="lable-l" style="display: inline-block;">Login Form </h3>
            <p style="color: red;">{% if lo_error %} {{ lo_error }} {% endif %}</p>

            <form action="/login" method="POST">
                <hr style="margin-bottom: 20px;">
                <label class="lable-l" >Email address / Username</label><br>
                <input name="name" type="text" class="emailbar ">
                <br>
     
                <label class="lable-l">Password</label><br>
                <input name="password" type="password" class="emailbar "><br>
                <button class="button-r-l" type="submit">Login</button>

            </form>
        </div>
    </div>
    </div>



    <div class="bottom">
        <p>copyright © Desiged and Deployed by Manoj Nagarajan Email: manojnagarajan355.gmail.com </p>
    </div>



</body>

</html>