*{
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    padding: 10px;
    margin-left : 20px
}
.links {
    margin-left: 70%;
    margin-top: 20px;

}

.links ul li {
    margin-right: 10px;
    display: inline-block;
    font-weight: bold;
    color: #FB9D98;

}

.links ul li a {
    color: #FACCB0;
}

.links ul li :hover {
    color: #FE4166;

}
.navi {
    display: flex ;  
    
}
.navi h4 {
    flex-basis: 20%;
    background-color: rgb(127, 216, 245);
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin-right: 0.5px;
    

}
.navi h4 a:hover{
    color: rgb(223, 117, 165);
}

a{
    text-decoration: none;
}

.page {
    padding: 20px;
}
.page2 {
    display: inline-block;
}

.page2 h3,
.page2 a {
    color: #FE4166;
}

.page2 h3,.page2 h4{
    margin-left: 900px;
}

.main{
    padding: 20px;
    text-align: center;
    font-size: 28px;
}

.bottom p {
    background: linear-gradient(to right, #FE4166, #84AF9B);
    color: purple;
    text-align: center;
    font-size: small;
    padding: 10px;

}


.login h3{
    margin-bottom: 10px;
    
}

.page1{
    display: flex;
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}


.page1 a {
    color: #FE4166;
}

.page1 h4 {
    flex-grow: 1;
    background-color: #84AF9B;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 0.5px;
    margin-left: 0.5px;
    border-radius: 5px;
}
.single{
    display: flex;
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}
.zoro{
    width: 400px;
    height:600px
}
.table{
    margin: 20px;


}
.table h3, .table h4{
    color: black;

}

.listt ul li{
    display: flex;
    color: black;
}

.class{
    height:900px
}
.adb{
    font-size: smaller;
}
.margin{
    margin: 15px;
    text-align: left;
}
.background{
    background: linear-gradient(to top, rgb(0,0,0,0.5)80%,rgb(0,0,0,0.5)80%), url(background-1.jpg);
    width: 100%;
    height: 150vh;
}

.table{
    padding: 15px;
    background-color: aliceblue;
    display: inline-block;
    border-radius: 25px;
    width: 500px;
 

}
